body{
    margin: 0; 
    display: grid; 
    grid-template-areas: 'header header header header'
                         'navbar navbar navbar aside'
                         'section section section aside'
                         'footer footer footer footer'; 
    grid-template-rows: 20vh 5vh 70vh 30vh;  
    grid-auto-columns: 24vw 24vw 24vw 24vw;
    grid-gap: 10px;                
}
header{
    grid-area: header; 
    background-color: #f1527f; 
    display: flex; 
    justify-content: center; 
    
} 

header img{
height: 100%; 
width: 100px; 
border-radius: 100%; 

}
nav{
    grid-area: navbar; 
    background-color:blueviolet; 
    display: flex;
    justify-content: space-around; 
} 
nav a{ 
    color: white; 
    text-decoration: none; 
    font-size: 16pt; 
}
nav a:hover{ 
    color: rgb(209, 209, 209);
    text-decoration: underline; 
    text-decoration-color: #f1527f;
    
}
section{ 
    grid-area: section; 
    background-color: lawngreen; 
    background-image: url("imagens/banner9.jpg");
    background-size: cover;
    
}
aside{ 
    grid-area: aside; 
    background-color: pink;
    text-align: center; 
    padding: 0 20px;
}
aside h2, p{
    color-adjust: black; 
    font-family: 'Exo', sans-serif;

}
footer{ 
    grid-area: footer; 
    background-color: blueviolet;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
footer div{ ;
    width: 200px;
    height: 30px;
    display: flex; 
    justify-content: space-around;

}
footer div img{
    width: 100px; 
}